/*======IMPORTED FONTS======
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

/*=======================================
                BASE CSS
  =======================================*/

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
	width: 100%;
}

body::-webkit-scrollbar {
	width: 7px;
	background: #C1C1C1;
}

body::-webkit-scrollbar-thumb {
	background: #1B1B1B;
	border-radius: 5px;
	border-right: 2px;
	border-color: #C1C1C1;
}

span {
	color: #FFFFFF;
}

.container-fluid {
	height: 100%;
	width: 100%;
}

/*=======================================
                HEADER AREA
  =======================================*/

.header {
	background: url(../img/header/slide-1.jpg) no-repeat center;
	background-size: cover;
	min-height: 105vh;
}

/*---------------------------------------
                NAVBAR
  ---------------------------------------*/

.header .navbar {
	background-color: transparent !important;
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 120%;
}

.navbar .bg-dark {
	background-color: #424242 !important;
	color: #FFF !important;
}

.nav-link {
	color: ##2F2F2F !important;
	font-weight: 600;
}

/*---------------------------------------
            CALL TO ACTION
  ---------------------------------------*/

.introduction {
	background-size: cover;
	height: 60vh;
	position: relative;
	display: flex;
	justify-content: left;
	/*align-items: center;*/
	font-style: normal;
}


.welcome-phrase {
	font-family: 'Roboto', sans-serif;
	font-style: bold; 
	font-weight: 900;
	font-size: 300%;
	color: #353535;
	margin: 20vh auto 1vh;
	padding-left: 5vh;
	padding-top: 15vh;
}

.btn-group {
	padding: 1vh;
	margin: 5vh auto 1vh;
}

/*=======================================
                SERVICE AREA
  =======================================*/

.services {
	background-color: #FFF;
	max-height: 180vh;
	min-height: 50vh;
}

.services #service-box {
	height: 95%;
	width: 100%;
	background-color: #FFF !important;
	border-style: none;
	/*border-width: 0.3vh;
	border-color: #4F4F4F;*/
	margin-top: -5vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vh;
	padding-bottom: 5vh;
	padding-top: 5vh;
}

.service-icon {
    font-size: 100px;
    height: 110px;
    margin: 0 auto 60px;
    padding-top: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 120px;
	color: #626262;
}

.services h3 {
	color: black;
	font-style: normal;
	text-align: center;
}

.services p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	padding-top: 20px;
	text-align: center;
	color: #5B5B5B;
}

/*=======================================
                ABOUT ME
  =======================================*/

.about-me .col {
	max-height: 180vh; 
	min-height: 70vh;
	background: #DCDCDC;

}

.about-me img {
	position: relative;
	max-height: 80vh;
	max-width: 98vh;
	min-height: 5vh;
	min-width: 10vh;
	margin: 0.5vh auto 0.5vh;
	padding-top: 2vh;

}

.about-me h1 {
	font-style: normal;
	font-weight: 400;
	padding: 2vh 5vh 2vh;
}

.about-me p {
	font-style: normal;
	font-weight: 400;
	padding: 0 5vh 0;
}

/*---------------------------------------
            CALL TO ACTION
  ---------------------------------------*/

#reach-me .container-fluid {
	background: url(../img/header/developer-coding-in-php.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	max-height: 70vh;
	min-height: 50vh;
	width: 100%;
	/*min-width: 50%;*/
	margin-right: 0 !important;
	/*background-color: #FFF;*/
}

#reach-me h4 {
	padding-top: 0.5vh;
	font-style: normal;
	color: #D4D4D4;
}

#reach-me h2 {
	margin-top: 20vh;
	/*padding-top: 2vh;*/
	font-style: normal;
	color: #FFFFFF;
}

#reach-me .btn {
	padding: 1vh;
	margin: 1vh auto 20vh;
}

/*=======================================
                SKILLS
  =======================================*/

.skills {
	max-height: 350vh;
	min-height: 40vh;
	background-color: #DCDCDC;
}

.card {
	margin-top: 2vh !important;
	margin-bottom: 2vh !important;
}

/*=======================================
                CONTACT
  =======================================*/

.contact-us {
	max-height: 200vh;
	min-height: 80vh;
}

.contact-us .container {
	margin-top: 2vh;	
}

.contact-us .container h1 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

.contact-us .container h5 {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
}

.contact-us .container p {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

.contact-us form {
	margin: 3vh auto 2vh;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

.contact-us input {
	background-color: #424242;
	color: #FFF;
}

.contact-us .form-control {
	background-color: #424242;
	color: #FFF;
}

#map-container {
	/*position: relative;*/
	display: flex;
	max-height: 90vh;
	min-height: 50vh;
	max-width: 90vh;
	min-width: 50vh;
	padding: 1vh auto 1vh;
	margin: 10vh 5vh 10vh;
}

/*=======================================
                FOOTER
  =======================================*/

.footer-copyright {
	background-color: #585757;
    padding: 30px 0 15px;
    color: #7B7B7B;
}

.footer-copyright a:hover {
    color: #FFFFFF;
}